body{
  overflow: hidden !important;
}

.myDisplay{
  display: flex;
  display: -webkit-flex;
}

.App-header {

  font-size: 100%;
  color: #F6EAEA;
  background: rgba(160, 35, 163, 0.60);
  box-sizing: border-box;
  /* box-shadow: 0px 15px 11px rgba(0, 0, 0, 0.10); */
  border-radius: 40px;
}

.App-footer {
  height: auto;
  color: #F6EAEA;
  background: rgba(160, 35, 163, 0.60);
  border-radius: 40px;
  margin-bottom: 2%;
}

.App-content{
  /* background: rgba(160, 35, 163, 0.10); */
  width: 100%;
  height: 80%;
}

.sizeText {
  font-size: 60%;
}

.primary {
  color : #F6EAEA;
}
.bg-primary_mine {
  background-color: #F6EAEA;
}

.secondary {
  color : #E54EE8;
  opacity: 60%;
}

.bg-secondary_mine {
  background: rgba(229, 78, 232, 0.40);
  opacity: 0.20 !important;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 2s ease; /* Safari et Chrome */
  -moz-transition: all 2s ease; /* Firefox */
  -ms-transition: all 2s ease; /* Internet Explorer 9 */
  -o-transition: all 2s ease; /* Opera */
  transition: all 2s ease;
}
.bg-secondary_mine:hover {
  background: rgba(229, 78, 232, 0.80);
  opacity: 0.80 !important;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 2s ease; /* Safari et Chrome */
  -moz-transition: all 2s ease; /* Firefox */
  -ms-transition: all 2s ease; /* Internet Explorer 9 */
  -o-transition: all 2s ease; /* Opera */
  transition: all 2s ease;
}

.myRounded {
  border-radius: 50px !important;
}

.child{
  margin: 30px;
}

.scrollBarVertical {
  padding:4px;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

.imgRounded {
  filter: brightness(80%);
  border-radius: 30px;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 3s ease;

  /*!* L'image est grossie de 25% *!*/
  /*-webkit-transform:scale(1); !* Safari et Chrome *!*/
  /*-moz-transform:scale(1); !* Firefox *!*/
  /*-ms-transform:scale(1); !* Internet Explorer 9 *!*/
  /*-o-transform:scale(1); !* Opera *!*/
  /*transform:scale(1);*/
}

.imgRounded:hover{
  filter: brightness(100%);
  cursor: pointer;
  border : 3px dashed #E54EE8 !important;
  border-radius: 10px;
  /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 2s ease;

  /*!* L'image est grossie de 25% *!*/
  /*-webkit-transform:scale(1.20); !* Safari et Chrome *!*/
  /*-moz-transform:scale(1.20); !* Firefox *!*/
  /*-ms-transform:scale(1.20); !* Internet Explorer 9 *!*/
  /*-o-transform:scale(1.20); !* Opera *!*/
  /*transform:scale(1.40);*/
}


/*.formalisationTailleImage {*/
/*  !*width:145px !important;*!*/
/*  !*height: 145px !important;*!*/
/*}*/


/* Skin de la scrollbar */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: pink;
  border-radius: 15px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(160, 35, 163, 0.60);
  border-radius: 15px !important;
}

.hoverText:hover{
  color : purple !important;
}


/*.test{*/
/*  background: rgba(229, 78, 232, 0.80);*/
/*}*/

.menu_format_MyContent{
  width: 33%;
  font-size: 40px;
}

.goOutFromGalerie:active{

  background-color: red !important;

  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 4s ease !important;
}

.goInToGalerie:active{

  background-color: blue !important;

  -webkit-transition: all 1s ease; /* Safari et Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* Internet Explorer 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 4s ease !important;
}