

.App-header {

  font-size: calc(40px + 2vmin);
  color: #F6EAEA;
  background: rgba(160, 35, 163, 0.60);
  box-sizing: border-box;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.App-footer {
  font-size: 25px;
  color: #F6EAEA;
  background: rgba(160, 35, 163, 0.60);
  border-radius: 50px;
}

.App-content{
  /* background: rgba(160, 35, 163, 0.10); */
  width: 100%;
  height: 68%;

}

.primary {
  color : #F6EAEA;
}
.bg-primary_mine {
  background-color: #F6EAEA;
}

.secondary {
  color : #E54EE8;
  opacity: 60%;
}
.bg-secondary_mine {
  background-color: #E54EE8;
  opacity: 60%;
}

.myRounded {
  border-radius: 50px !important;
}

.child{
 margin: 20px;
 width: 60% !important;
}

.scrollBarVertical { 
  margin:4px, 4px; 
  padding:4px; 
  height: 100%;
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align:justify; 
} 

.imgRounded {
  border-radius: 30px;
      /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
      -webkit-transition: all 1s ease; /* Safari et Chrome */
      -moz-transition: all 1s ease; /* Firefox */
      -ms-transition: all 1s ease; /* Internet Explorer 9 */
      -o-transition: all 1s ease; /* Opera */
      transition: all 1s ease;
      
        /* L'image est grossie de 25% */
    -webkit-transform:scale(1); /* Safari et Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* Internet Explorer 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
}

.imgRounded:hover{

    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    
      /* L'image est grossie de 25% */
  -webkit-transform:scale(1.20); /* Safari et Chrome */
  -moz-transform:scale(1.20); /* Firefox */
  -ms-transform:scale(1.20); /* Internet Explorer 9 */
  -o-transform:scale(1.20); /* Opera */
  transform:scale(1.40);
}

